email=krishnahari49@gmail.com
#always-auth=true
//registry.npmjs.org/:_auth=YWRtaW46V2VsY29tZUAxMjM=
registry=http://172.28.68.43:8081/saha/repository/npm-package/
//172.28.68.43:8081/saha/repository/npm-package/:_auth=YWRtaW46V2VsY29tZUAxMjM=
allowRepublish=true
